<div class="login-container">
  <div class="login-inputs">
    <div class="input-group flex-nowrap">
      <label>Nombre de usuario</label>
      <input
        type="text"
        class="form-control"
        placeholder="usuario"
        aria-label="Username"
        aria-describedby="addon-wrapping"
      />
    </div>

    <div class="input-group flex-nowrap">
      <label>Contraseña</label>
      <input
        type="text"
        class="form-control"
        placeholder="contraseña"
        aria-label="password"
        aria-describedby="addon-wrapping"
      />
    </div>
  </div>

  <div class="login-buttons">
    <button class="login-btn" mat-stroked-button>Iniciar sesión</button>
    <button class="login-btn" mat-stroked-button color="primary">
      Crear usuario
    </button>
  </div>
</div>
